nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 2rem;
  box-shadow: 0 0 5px var(--highlight-light);
  font-family: "Playfair Display", serif;
  font-weight: 600;
  position: sticky;
  top: 0;
  background-color: var(--background-dark);
  z-index: 10;

  .logo {
    > a {
      text-decoration: none;
      color: var(--text-pink);
    }
  }
}

.nav-links-container > ul {
  display: flex;
  list-style: none;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-around;

  > li > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    text-align: center;
    color: var(--text-light);
    transition: font-weight, color, border-bottom 0.5s ease-in;
    padding: 0.3rem 1rem;

    &:hover,
    &:active {
      font-weight: bold;
      color: var(--text-dark);
      border-bottom: 1px solid var(--highlight-light);
    }
  }
  .cart {
    position: relative;
  }
  .cart .cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    color: var(--ternary-light);
  }
}

.menu-bar {
  color: var(--text-pink);
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links-container {
    position: absolute;
    top: 100%;
    right: -101%;
    background-color: var(--background-dark);
    height: 100vh;
    width: fit-content;
    padding: 1rem 2rem;
    z-index: 8;
    transition: 1s;

    > ul {
      flex-direction: column;

      >li{
        width: 100%;
      }
    }
  }
  .menu-bar {
    display: block;
  }

  .openMenu {
    right: 0%;
  }
}
