.product-grid-container {
  display: grid;
  padding-block: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .product-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .product-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
