@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&family=Poppins:wght@100;300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-dark: #03045e;
  --text-light:#caf0f8;
  --text-dark:#00b4d8;
  --text-pink:#ff477e;
  --highlight-light:#8e7dbe;
}

.app {
  background-color: var(--background-light);
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

main {
  padding: 3rem 1rem;
  width: 90%;
  margin-inline: auto;
}

::selection {
  background-color: var(--button-light);
  color: var(--paragraph-light);
}

::-webkit-scrollbar {
  width: 0;
}
